<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">채팅방ㅋㅋ</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container">
        <div id="msgArea" class="col"></div>
        <div class="col">
          <div class="input-group mb-3">
            <input type="text" id="msg" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


<script th:inline="javascript">

  let title = [[${plan.getTitle()}]];
  let roomId = [[${plan.getPId()}]];
  let username = "test1"

  console.log(title + ", " + roomId + ", " + username);


  let sockJs = new SockJS("/stomp/chat");
  //1. SockJS를 내부에 들고있는 stomp를 내어줌
  let stomp = Stomp.over(sockJs);


  //2. connection이 맺어지면 실행
  stomp.connect({}, function (){
    console.log("----------STOMP 연결 성공----------")

    //4. subscribe(path, callback)으로 메세지를 받을 수 있음
    stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
      let content = JSON.parse(chat.body);

      let writer = content.writer;
      let system = content.system;
      let str = '';

      if(writer === username && !system){
        str = "<div class='col-6'>";
        str += "<div class='alert alert-secondary'>";
        str += "<b>" + writer + " : " + content.message + "</b>";
        str += "</div></div>";
        document.querySelector("#msgArea").insertAdjacentHTML('beforeend',str);
      }
      else{
        str = "<div class='col-6'>";
        str += "<div class='alert alert-warning'>";
        str += "<b>" + writer + " : " + content.message + "</b>";
        str += "</div></div>";
        document.querySelector("#msgArea").insertAdjacentHTML('beforeend',str)
      }
    });

    //3. send(path, header, message)로 메세지를 보낼 수 있음
    // 최초 입장시 입장 정보 알림
    stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username, system : true}))
  });

  document.querySelector("#button-send").addEventListener("click", function(e){
    let msg = document.getElementById("msg");

    console.log(username + ":" + msg.value);
    stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
    msg.value = '';
  });

</script>


