<h2 class="accordion-header" xmlns="http://www.w3.org/1999/html">
          <button class="accordion-button collapsed scheduleBtn" type="button" data-bs-toggle="collapse" th:data-bs-target="'#content_'+${content.getConId()}" aria-expanded="false" th:aria-controls="'#content_'+${content.getConId()}">

              <div class="container scheduleContainer ">
                  <div class="row scheduleRow " >
                      <div class="col col-md-2 scheduleLeft ">
                          <span th:text="${content.getTime()}"></span>
                      </div>
                      <div class="col col-md-10 scheduleCenter">
                          <div class="row">
                              <div class="col col-s-11 scheduleCenterInner" >
                                    <span class="scheduleTitle">
                                      「<span th:text="${content.getTitle()}"></span>」
                                    </span>
                                  <span class="scheduleContent">
                                       <span th:text="${content.getInfo()}"></span>
                                  </span>
                              </div>
                              <div class="col col-s-1 scheduleRight">
                                  <i class="bi bi-three-dots"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </button>
      </h2>

      <div th:id="'content_'+${content.getConId()}" class="accordion-collapse collapse " data-bs-parent="#accordionSection">
          <div class="accordion-body" th:if="${content.getPath()}!=null" th:classappend="hasCanvas">

          </div>


          <div class="accordion-body" th:if="${content.getPath()}==null">
                  <p class="innerText">
                      <i class="bi bi-plus-circle"></i>
                      <br>
                      새 화이트보드 추가
                  </p>
          </div>
      </div>




