<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>게시판 상세</title>
    <link th:href="@{/public/css/plan/plan.css}" rel="stylesheet" />

</head>

<div layout:fragment="content" class="container-fluid px-0">
        <div class="row">

            <!--    사이드바 -->
            <div class="col-md-2" >
                <div class="row row-cols-1 sideGrid">
                    <div class="col titleBox">
                        <span th:text="${plan.getTitle()}"/>
                    </div>
                    <div class="col calenderBox">
                        <th:block th:include="/plan/calender"></th:block>
                    </div>

                    <div class="col infoBox">
                            <!--   <div class="infoImg" th:if="${plan.getImgPath()!=null}" th:style="'background-image:url(' +  + ');'"></div>-->
                            <img class="infoImg" th:if="${plan.getImgPath()!=null}" th:src="${plan.getImgPath()}"></img>
                            <img class="infoImg" th:if="${plan.getImgPath()==null}" src="/public/img/plan/planDefault.jpeg"></img>
                            <div class="infoStatus" >
                                <i class="bi bi-key"></i>
                                <span th:text="${plan.getPlanStatus()}"/></div>

                            <div class="infoSchedule">🗓️ <span th:text="${plan.getPlanFrom()}"/> ~ <span th:text="${plan.getPlanTo()}"/></div>

                        </div>


                </div>

            </div> <!--좌측사이드닫기-->



            <div class="col-md-8 mainSection">

                <div class="row mainHeader">
                    <div class="col-md-2">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary btn-lg dropdown-toggle dayBtn py-0 border-0" data-bs-toggle="dropdown" aria-expanded="false">
                                DAY 01
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">DAY 02</a></li>
                                <li><a class="dropdown-item" href="#">DAY 03</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group btn-group-horizon btnLine" role="group">
                            <!--이미지 삽입-->
                            <button class="btn-group"  type="button" id="imgBtn">
                                <i class="bi bi-image"></i>
                                <input id="imgInput" type="file" style="display: none"/>
                            </button>
                            <!--보관함-->
                            <button class="btn-group"  type="button" id="loadBtn">
                                <i class="bi bi-folder2-open"></i>
                            </button>
                            <!-- 지우기 -->
                            <button class="btn-group"  type="button"  id="removeBtn">
                                <i class="bi bi-trash"></i>
                            </button>
                            <!--선택-->
                            <button class="btn-group" type="button" id="selectorBtn">
                                <i class="bi bi-hand-index"></i>
                            </button>
                            <!--이동-->
                            <button class="btn-group" type="button"  id="moveBtn" style="background-color: #5d5d5d">
                                <i class="bi bi-arrows-move"></i>
                            </button>
                            <!--펜-->
                            <button class="btn-group"  type="button" id="penBtn">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <!--직선-->
                            <button class="btn-group"  type="button" id="lineBtn" >
                                <i class="bi bi-slash-lg"></i>
                            </button>
                            <!--박스 -->
                            <button class="btn-group"  type="button"  id="rectBtn">
                                <i class="bi bi-square"></i>
                            </button>
                            <!--텍스트입력-->
                            <button class="btn-group" type="button"  id="textBtn" style="background-color: #5d5d5d">
                                <i class="bi bi-fonts"></i>
                            </button>
                            <!--파레트-->
                            <button class="btn-group"  type="button"   id="palateBtn" style="background-color: #5d5d5d">
                                <i class="bi bi-palette"></i>
                            </button>
                            <!--포스트잇-->
                            <button class="btn-group"  type="button"  id="postBtn" style="background-color: #5d5d5d">
                                <i class="bi bi-sticky"></i>
                            </button>
                            <!--스템프-->
                            <button class="btn-group"  type="button" id="stampBtn" style="background-color: #5d5d5d">
                                <i class="bi bi-star"></i>
                            </button>
                            <!--설정-->
                            <button class="btn-group"  type="button"  id="settingBtn" style="background-color: #5d5d5d">
                                <i class="bi bi-gear"></i>
                            </button>
                            <!--플러스버튼-->
                            <button class="btn-group"  type="button"  id="plusBtn">
                                <i class="bi bi-plus-circle"></i>
                            </button>
                            <!--마이너스버튼-->
                            <button class="btn-group"  type="button"  id="minusBtn">
                                <i class="bi bi-dash-circle"></i>
                            </button>
<!--                            <button class="btn-group red" ></button>-->
<!--                            <button class="btn-group orange"></button>-->
<!--                            <button class="btn-group yellow"></button>-->
<!--                            <button class="btn-group green"></button>-->
<!--                            <button class="btn-group blue"></button>-->
<!--                            <button class="btn-group navy"></button>-->
<!--                            <button class="btn-group purple"></button>-->
<!--                            <button class="btn-group black"></button>-->
<!--                            <button class="btn-group white"></button>-->
<!--                            <button class="btn-group clear"></button>-->

                            </div><!--버튼그룹닫기-->
                        </div> <!--col 9-->

                    <div class="col-md-2 scheduleInputBox">
                        <div id="newScheduleBtn">
                            <i class="bi bi-plus-circle"></i>
                        </div>
                    </div>
                </div>


                    <div class="accordion .accordion-flush" id="accordionSection">
                        <div class="accordion-item" th:each="content:${plan.getContents()}">
                            <th:block th:include="/plan/contents"></th:block>
                        </div>
                    </div>

            </div> <!--메인섹션닫기-->


            <div class="col-md-2">
                <div class="row row-cols-1 sideGrid">
                    <div class="col memberBox">
                        <div class="memberTitle sideTitle">MEMBER</div>
                        <div class="memberContent sideContent">              </div>
                    </div>
                    <div class="col todoListBox">
                        <div class="todoListTitle sideTitle">CHECK_LIST</div>
                        <div class="todoListContent sideContent">체크리스트 내용</div>
                    </div>

                </div>
            </div> <!--우측사이드 닫기-->




    </div> <!--그리드 row 닫기-->

<!--새 플랜 모달 부분-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary bg-opacity-10">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">새 스케쥴 작성</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form  method="post" id="scheduleInsertForm">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <input type="text" class="form-control" name="pId" th:value="${plan.getPId()}"  id="floatingId" placeholder="" hidden>
                                    <input type="text" class="form-control" name="tId" value="" id="tId" placeholder="" hidden>
                                    <input type="text" class="form-control" name="sId" value="" id="sId" placeholder="" hidden>

                                    <div class="col-12 mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="title" id="floatingTitle" placeholder="">
                                            <label for="floatingTitle">여행지</label>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <div class="form-floating">
                                            <input type="time" class="form-control" name="sTime" id="sTime" placeholder="">
                                            <label for="sTime">시작시간</label>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <div class="form-floating">
                                            <input type="time" class="form-control" name="eTime" id="eTime" placeholder="" value="">
                                            <label for="eTime">끝시간</label>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="info" id="info" placeholder="">
                                            <label for="info">경유지 & 메모</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input type="" class="form-control" name="" id="floatingImg" placeholder="">
                                    <label for="floatingImg">북마크넣을부분</label>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">만들기</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <script th:inline="javascript">

        document.getElementById("imgBtn").addEventListener("click",()=>{
            let input = document.getElementById("imgInput")
            input.click();
            input.addEventListener("change",(e)=>{

            console.log(input.files)
            })
        })



        let bb = document.getElementsByClassName("scheduleLeft")
        Array.from(bb).forEach((e)=>{
            e.addEventListener("click",()=>{
                console.log("되나?")
            })
        })

        /*
        게시글을 로드 할 때 화면 초기화
        스케쥴이 추가되고 그림판까지 만든 경우와, 그림판은 만들지 않은 경우를 구분하여 처리
         */
        document.addEventListener("DOMContentLoaded",()=>{
            let initArr=[];
            let nBtns = document.querySelectorAll(".newCanvasBtn");
            [# th:each="c,s:${plan.getContents()}"]
            if([[${c.getPath()}]]!=null) initArr.push([[${c.getPath()}]])
            [/];
            initArr.forEach((a)=>{
               let ele = document.querySelector(`#content_${a.conId}`).lastElementChild;
                newCanvas(ele,a.conId,a.canPath);
            });
        });

        // 웹소켓용
        const URL="ws://localhost:7777/plan"
        let webSocket;
        webSocket=new WebSocket(URL);


        // 새 스케쥴 등록 모달
        const newScheduleBtn = document.querySelector("#newScheduleBtn");
        const newScheduleBtnM = new bootstrap.Modal(document.getElementById('staticBackdrop'),{});
        newScheduleBtn.addEventListener("click",()=>{
            newScheduleBtnM.show();
        });

        // 새 스케쥴 제출시
        const scheduleInsertForm = document.getElementById("scheduleInsertForm");
        scheduleInsertForm.onsubmit=registerSchedule;



        //새 스케쥴 생성시 @ResponseBody 요청 보내고 결과에 따라 콜랩스 생성...나중에
        async function registerSchedule(e){
            e.preventDefault();
            const data=new FormData(scheduleInsertForm);
            let sTime = !data.get("sTime") ? "--:--" : data.get("sTime");
            let eTime = !data.get("eTime") ? "--:--" : data.get("eTime");
            data.append("time", sTime + " ~ " + eTime)

            let url="/plan/contents/insert.do"
            const resp=await fetch(url,{method:"POST",body:data});
            if(resp.status===200){
                const json=await resp.json();
                document.getElementById("accordionSection").insertAdjacentHTML("afterend",accordionInsert(json.conId,json.time,json.title,json.info))
                newScheduleBtnM.hide();
            }else {
                alert("등록 실패 status :"+resp.status);
            }
        }




        function newCanvas(ele,conId,path=null){
            let w = document.querySelector(".accordion-item").clientWidth;
            let h = 500/1200*w+16; //16은 부트스트랩 아코디언바디에 설정된 상하 패딩값을 보정해준 것
            ele.style.height = h +"px";
            let newCanvas = new CanvasCreate(conId, path);
            let canvas = newCanvas.canvas;
            ele.lastElementChild.style.display = "none"
            ele.append(canvas);
        }

        async function newCanvasBtn(ele){
            let conId = ele.parentElement.getAttribute("id").split("_")[1]
            let url =`/plan/contents/canvasHandler.do`
            const resp = await fetch(url,{method:"POST",body:conId});
            const result = await resp.json();
            if(resp.status===200 && result===1){
                newCanvas(ele, conId);
            }else {
                alert("캔버스 생성 실패 status :"+resp.status);
            }
        }

        function accordionInsert(conId, time, title, info){
            return `<div class="accordion-item" style="margin: 0px 20px">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed scheduleBtn" type="button" data-bs-toggle="collapse"
                           data-bs-target="#content_${conId}" aria-expanded="false" aria-controls="#content_${conId}">
                              <div class="container scheduleContainer ">
                                  <div class="row scheduleRow " >
                                      <div class="col col-md-3 scheduleLeft ">
                                          <span class="scheduleTime">${time}</span>
                                      </div>
                                      <p class="col col-md-9 scheduleCenter">
                                          <span class="scheduleTitle">${title}</span>
                                          <span class="scheduleContent">${info}</span>
                                      </p>
                                  </div>
                              </div>
                          </button>
                        </h2>
                        <div id="content_${conId}" class="accordion-collapse collapse " data-bs-parent="#accordionSection">
                            <p class="scheduleSideBtn1 sbHover"><i class="bi bi-three-dots"></i></p>
                            <p class="scheduleSideBtn2 sbHover"><i class="bi bi-trash3"></i></p>
                            <div class="accordion-body">
                                <p class="newCanvasBtn" onclick=newCanvasBtn(this.parentElement)><i class="bi bi-plus-circle"></i></p>
                            </div>
                        </div>
                    </div>`;
        }







    </script>

    <script type="text/javascript" th:src="@{/public/js/plan/canvasFunction.js}"></script>
</div> <!--레이아웃 닫기-->
</html>

