<div class="modal fade" id="modifyPlanModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <form id="newPlanModalForm"  method="post" action="./modify.do" enctype="multipart/form-data">
        <div class="modal-header py-2">
          <h5 class="modal-title fs-6 planModalTitle" id="staticBackdropLabel">여행 일정 수정</h5>
          <div class="newPlanStatusBox">
            <input class="form-check-input statusC" type="radio" name="planStatus" id="flexRadioDefault1" value="PUBLIC" checked style="display: none" >
            <label class="form-check-label statusL" for="flexRadioDefault1">
              <i class="bi bi-unlock-fill"></i>
            </label>
            <input class="form-check-input statusC" type="radio" name="planStatus" value="PRIVATE" id="flexRadioDefault2" style="margin-left: 10px; display: none" >
            <label class="form-check-label statusL" for="flexRadioDefault2">
              <i class="bi bi-lock-fill"></i>
            </label>
          </div>
          <i class="bi bi-x-circle cB" data-bs-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body newPlanModalBody pb-1">
          <div class="row">
            <div class="col-6">
              <div id="newPlanPreviewBox" class="mb-3" style="background-image: none">
                <img id="newPlanPreview" th:src="${plan.getImgPath()}">
              </div>
              <input type="file" class="form-control col-12 mb-3" id="newPlanImg" name="img" placeholder="">
            </div>
            <div class="col-6">
              <div class="row">
                <input type="text" class="form-control" name="pId" th:value="${plan.getPId()}" hidden>
                <input type="text" class="form-control" name="uId" th:value="${session.loginUser.getUId()}" hidden>
                <input type="text" class="form-control" name="members" value="" hidden>
                <div class="form-floating col-12 mb-3">
                  <input type="text" class="form-control" th:value="${plan.getTitle()}" name="title" id="floatingTitle" placeholder="타이틀">
                  <label for="floatingTitle">타 이 틀</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" class="form-control" th:value="${plan.getPlanFrom()}" name="planFrom"  id="floatingFrom" placeholder="일정 시작" onfocus="(this.type='date')">
                  <label for="floatingFrom">FROM.</label>
                </div>
                <div class="form-floating col-6 mb-3">
                  <input type="text" class="form-control" th:value="${plan.getPlanTo()}" name="planTo" id="floatingTo" placeholder="일정 끝" onfocus="(this.type='date')">
                  <label  for="floatingTo">TO.</label>
                </div>
                <div class="form-floating col-12 mb-3">
                  <input type="text" class="form-control" th:value="${plan.getInfo()}" name="info" id="floatingInfo" placeholder="설 명" style="height: 100px">
                  <label for="floatingInfo">설 명</label>
                </div>
                <div class="memberSelectBox">
                  <div class="memberSelectBoxHeader mb-1">
                    <span>멤 버 리 스 트</span>
                    <span id="memberSelectBoxPBtn"><i class="bi bi-plus-circle"></i></span>
                  </div>
                  <div id="memberSelectBoxFooter">
                    <div class="cardMy" style="background-image:url('/public/img/plan/profileDefault.png')"
                         data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="나">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer py-1">
            <button type="submit" class="btn btn-primary sB">수 정</button>
          </div>
      </form>
    </div>

  </div>
</div>
