<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
  <meta charset="UTF-8">
  <title>판매글 작성</title>
</head>
<div layout:fragment="content">
  <form enctype="multipart/form-data" name="registerForm" action="/sells/modify.do" method="post" style="width: 500px;margin: 0 auto;">
  <h1 class="my-4">게시글 등록</h1>
  <p class="form-floating">
    <input type="hidden" name="sId" th:value="${sell.getSId()}">
    <input id="uIdInput" type="text" name="uId" value="user01" readonly class="form-control" placeholder="??"> <!-- th:value="${session.loginUser.uId}"-->
    <label class="">아이디(글쓴이)</label>
  </p>
<!--    <th:block th:each="img :${sell.getSellImgs()}">-->
<!--      <span th:src="${img.imgPath}"></span>-->
<!--    </th:block>-->
    <p id="imgDelCont">
    <h4>이미지 삭제 (체크)</h4>
    <label th:each="img,state:${sell.getSellImgs()}" class="w-25 delImgItem">
      <input type="checkbox" class="delImgInput" name="delImgId" th:value="${img.getSId()}">
      <img th:src="@{'{path}'(path=${img.imgPath})}" class="img-thumbnail">
    </label>
    </p>
  <p id="imgCont">
    <button id="imgAddBtn" class="btn btn-light w-100" type="button">
      이미지
      <i class="bi bi-plus-square"></i>
    </button>
  </p>
    <p class="form-floating">
      <select name="area" class="form-select">
        <option th:value="${sell.getArea()}" th:text="${sell.getArea()}"> </option>
        <option value="">지역 카테고리 선택</option>
        <option value="서울">서울</option>
        <option value="인천">인천</option>
        <option value="대전">대전</option>
        <option value="광주">광주</option>
        <option value="대구">대구</option>
        <option value="울산">울산</option>
        <option value="부산">부산</option>
        <option value="세종">세종</option>
        <option value="경기">경기</option>
        <option value="강원">강원</option>
        <option value="충북">충북</option>
        <option value="충남">충남</option>
        <option value="전북">전북</option>
        <option value="전남">전남</option>
        <option value="경북">경북</option>
        <option value="경남">경남</option>
        <option value="제주">제주</option>
      </select>
      <label class="">지역 카테고리</label>
    </p>

    <p class="form-floating">
      <select name="category" class="form-select">
        <option th:value="${sell.getCategory()}" th:text="${sell.getCategory()}"></option>
        <option value="">카테고리 선택</option>
        <option value="워터">워터</option>
        <option value="테마">테마</option>
        <option value="박물관">박물관</option>
        <option value="레저">레저</option>
        <option value="키즈">키즈</option>
      </select>
      <label class="">카테고리</label>
    </p>
  <p class="form-floating">
    <input id="titleInput" type="text" name="title" value="" class="form-control" placeholder="??">
    <label class="" th:text="${sell.title}">글 제목</label>
  </p>
  <p>
    <label for="contentInput" class="form-label">글 내용</label>
    <textarea id="contentInput" name="content" rows="4" class="form-control" placeholder="" th:text="${sell.content}"></textarea>
  </p>
    <th:block th:each="option:${sell.getSellOption()}">
    <div class="card mb-3">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <input type="hidden" th:value="${option.getOId()}">
          <p class="card-text mb-0"><strong>옵션:</strong> <span th:text="${option.name}"></span></p>
          <p class="card-text"><strong>가격:</strong> <span th:text="${option.price}"></span></p>
        </div>
        <button type="button" class="btn-close" aria-label="Close" onclick="remove()"></button>
      </div>
      </div>
    </th:block>
    <p id="optionCnt">
      <button id="optionAddBtn" class="btn btn-light w-100" type="button">
        옵션추가
        <i class="bi bi-plus-square"></i>
      </button>
    </p>
  <p class="text-end">
    <button type="reset" class="btn btn-warning">초기화</button>
    <button type="submit" class="btn btn-primary">수정</button>
  </p>
</form>
<script>
  function remove(){
    const card=document.querySelector(".card");
    card.remove();
  }
  const imgAddBtn=document.getElementById("imgAddBtn");
  const imgCont=document.getElementById("imgCont");
  imgAddBtn.addEventListener("click",(e)=>{
    imgCont.insertAdjacentHTML("beforeend",imgInputComponent());
  });

  const optionAddBtn=document.getElementById("optionAddBtn");
  const optionCnt=document.getElementById("optionCnt");
  optionAddBtn.addEventListener("click",()=>{
    optionCnt.insertAdjacentHTML("beforeend",optionSelComponent());
  })

  function imgInputComponent( label="이미지",name="img"){
    return `    <div class="input-group mt-2">
                    <label class="input-group-text">${label}</label>
                    <input class="form-control" type="file" name="${name}">
                    <button type="button" class="btn btn-danger" onclick="this.closest('.input-group').remove()">
                        <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
              `;
  }
  function optionSelComponent(){
    return `<div class="input-group mt-2">
  <input type="text" class="form-control" name="name" placeholder="옵션명 입력">
  <input type="text" class="form-control" name="price" placeholder="가격 입력(원 빼고입력)">
  <button type="button" class="btn btn-danger" onclick="this.closest('.input-group').remove()">
    <i class="bi bi-x-lg"></i>
  </button>
</div>`;
  }
</script>
</div>>
</html>