<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
  <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>

  <meta charset="UTF-8">
  <title>판매글 작성</title>
</head>
<div layout:fragment="content">
  <form enctype="multipart/form-data" id="registerForm" name="registerForm" action="./register.do" method="post" style="width: 500px;margin: 0 auto;">
  <h1 class="my-4">게시글 등록</h1>

  <p class="form-floating">
    <input id="uIdInput" type="text" name="uId" th:value="${session.loginUser.getUId()}" readonly class="form-control" placeholder="??"> <!-- th:value="${session.loginUser.uId}"-->
    <label class="">아이디(글쓴이)</label>
  </p>
    <p class="input-group">
      <label class="input-group-text">메인이미지</label>
      <input class="form-control" type="file" name="mainImg">
    </p>
  <p id="imgCont">
    <button id="imgAddBtn" class="btn btn-light w-100" type="button">
      이미지
      <i class="bi bi-plus-square"></i>
    </button>
  </p>
    <p id="areaCont" class="form-floating">
      <select id="area" name="area" class="form-select">
        <option value="">지역 카테고리 선택</option>
        <option value="서울">서울</option>
        <option value="인천">인천</option>
        <option value="대전">대전</option>
        <option value="광주">광주</option>
        <option value="대구">대구</option>
        <option value="울산">울산</option>
        <option value="부산">부산</option>
        <option value="세종">세종</option>
        <option value="경기">경기</option>
        <option value="강원">강원</option>
        <option value="충북">충북</option>
        <option value="충남">충남</option>
        <option value="전북">전북</option>
        <option value="전남">전남</option>
        <option value="경북">경북</option>
        <option value="경남">경남</option>
        <option value="제주">제주</option>
      </select>
      <label class="">지역 카테고리</label>
    </p>

    <p  class="form-floating">
      <select id="category" name="category" class="form-select">
        <option value="">카테고리 선택</option>
        <option value="워터">워터</option>
        <option value="테마">테마</option>
        <option value="박물관">박물관</option>
        <option value="레저">레저</option>
        <option value="키즈">키즈</option>
      </select>
      <label class="">카테고리</label>
    </p>
  <p class="form-floating">
    <input type="text"  id="titleInput" name="title" value="" class="form-control" placeholder="??">
    <label class="">글 제목</label>
  </p>
  <p>
    <label for="contentInput" class="form-label">글 내용</label>
    <textarea id="contentInput" name="content" rows="4" class="form-control" placeholder=""></textarea>
  </p>
    <p id="optionCnt">
      <button id="optionAddBtn" class="btn btn-light w-100" type="button">
        옵션추가
        <i class="bi bi-plus-square"></i>
      </button>
    </p>
  <p class="text-end">
    <button type="reset" class="btn btn-warning">초기화</button>
    <button type="submit" class="btn btn-primary">등록</button>
  </p>
</form>
<script>
  CKEDITOR.replace('content');
  const contentInput=document.getElementById("contentInput");
  const titleInput=document.getElementById("titleInput");
  const category=document.getElementById("category");
  const area=document.getElementById("area");
  const registerForm=document.getElementById("registerForm");
  let msg="";
  registerForm.addEventListener('submit',(e)=>{
    let content=contentInput.value;
    let title=titleInput.value;
    let areas=area.value;
    let categorys=category.value;
    let option=optionCnt.value;
    let img=imgCont.value;

     if(areas==null ||areas.trim()===""){
       alert("지역을 선택해 주세요");
      e.preventDefault();
    }else if (categorys==null || categorys.trim()===""){
      alert("카테고리를 선택해 주세요");
      e.preventDefault();
    }else if(title==null || title.trim()===""){
      alert("제목을 입력해 주세요");
      e.preventDefault();
    }else if(content==null || content.trim()===""){
      alert("내용을 입력해 주세요");
      e.preventDefault();
    }

  })

  const imgAddBtn=document.getElementById("imgAddBtn");
  const imgCont=document.getElementById("imgCont");
  imgAddBtn.addEventListener("click",(e)=>{
    imgCont.insertAdjacentHTML("beforeend",imgInputComponent());
  });

  const optionAddBtn=document.getElementById("optionAddBtn");
  const optionCnt=document.getElementById("optionCnt");
  optionAddBtn.addEventListener("click",()=>{
    optionCnt.insertAdjacentHTML("beforeend",optionSelComponent());
    if (optionCnt<1){
      alert("옵션은 1개이상 입력")
    }
  })
  function imgInputComponent( label="이미지",name="img"){
    return `    <div id="option" class="input-group mt-2">
                    <label class="input-group-text">${label}</label>
                    <input class="form-control" type="file" value="" name="${name}">
                    <button type="button" class="btn btn-danger" onclick="this.closest('.input-group').remove()">
                        <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
              `;
  }

  function optionSelComponent(){
    return `<div class="input-group mt-2">
  <input type="text" class="form-control" value="" name="name" placeholder="옵션명 입력">
  <input type="text" class="form-control" value="" name="price" placeholder="가격 입력(원 빼고입력)">
  <button type="button" class="btn btn-danger" onclick="this.closest('.input-group').remove()">
    <i class="bi bi-x-lg"></i>
  </button>
</div>`;
  }
</script>
</div>>
</html>