<!DOCTYPE html>
<html lang="en">
<div> <!-- r.comments : TripReviewCmtDto 배열  - 리뷰 하나에 댓글들 -->
    <div class="mb-3 d-flex justify-content-between align-items-center">


        <div class="d-flex align-items-center">
            <div>
                <img th:src="@{'{path}'(path=${user.imgPath})}" class="border rounded-circle" style="width: 45px; height: 45px;">
                @<strong th:text="${rc.uId}"></strong>
            </div>
        </div>

<!--        <div class="d-flex align-items-center">-->
<!--            <div>-->
<!--                <img th:src="@{'{path}'(path=${user.imgPath})}" class="border rounded-circle" style="width: 45px; height: 45px;">-->
<!--                @<strong th:text="${rc.uId}"></strong>-->
<!--                &lt;!&ndash;            <span>리뷰 6</span>&ndash;&gt;-->
<!--                <a href="#">팔로우</a>-->
<!--            </div>-->
<!--        </div>-->



    </div>
    <div>
        <div>
            <span th:text="${rc.content}"></span>
        </div>
        <div>
            <img th:if="${rc.imgPath}" class="img-thumbnail w-25" th:src="@{'{path}'(path=${rc.imgPath})}" alt="">
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <p>
                 <span class="me-2">
                    작성일 :
                    <small th:text="${#dates.format(rc.postTime,'yyy.MM.dd')}"></small>
                     <!-- date.format(데이트객체, 포맷) 으로 날짜 예쁘게 수정하기 -->
                </span>
            </p>
            <p class="d-flex align-items-center">
                <a href="" class="text-muted text-decoration-none me-2">
                    <i class="bi bi-heart text-danger fs-4"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-outline-secondary"
                   th:if="${session.loginUser!=null}" th:onclick="reviewCmtClick([[${rc.trId}]],[[${rc.trcId}]])">댓글달기</a>
                <!-- 작성자에게만 보이기 -->
                <a  th:if="${session.loginUser!=null && #strings.equals(session.loginUser.uId,rc.uId)}"
                        th:onclick="removeReviewCmt([[${rc.trId}]],[[${rc.trcId}]])" class="btn btn-outline-dark ms-2">삭제</a>
<!--                <a th:if="${session.loginUser!=null  && session.loginUser.uId==rc.uId}" th:onclick="removeReviewCmt([[${rc.trId}]],[[${rc.trcId}]])" class="btn btn-outline-dark ms-2">삭제</a>-->
            </p>
        </div>
    </div>

</div>
    <!-- 리뷰댓글의 댓글! -->
    <ul class="list-group">
        <li th:each="rc:${rc.comments}" class="list-group-item">
            <th:block th:include="/trip/reviewcmt/detail.html"></th:block>
        </li>
    </ul>
</html>

