<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutMy}">
<div layout:fragment="content" class="container pb-5">

<div class="mx-auto text-center">
  <h3 class="mt-4">출석체크</h3>
  <small class="text-muted my-5">하단 이미지를 클릭하시면 출석체크에 참여하실수 있습니다!</small>
  <div class="mt-5">
    <a  class="" href="javascript:void(0)" th:onclick="attendanceChk([[${session.loginUser.uId}]])">
      <img th:if="${attendance==null}" src="/public/img/my/chulsukcheck.png" style="width: 200px;"></a>
      <img th:unless="${attendance==null}" src="/public/img/my/chulsukcheck2.png" style="width: 200px;"></a>
  </div>

  <div class="mt-5">
    <div class="text-primary" th:if="${attendance==null}"> 출석체크를 아직 하지 않았습니다!<br>출석체크시 10마일리지가 적립됩니다!</div>
    <div class="text-danger" th:unless="${attendance==null}">출석체크를 완료했습니다! 내일 또 참여해주세요!</div>
  </div>
  <script>
  async function attendanceChk(uId){

      let url=`/my/${uId}/attendance/handler.do`
      const resp=await fetch(url,{method:"POST"})
      if(resp.status===200) {
        let status = await resp.json();
        if (status.handler === 1) {
          alert("출석체크완료")
        } else if (status.handler === 0) {
          alert("이미 출석체크가 되었거나 오류가 발생했으니 새로고침하고 다시 시도하세요.")
        }
      }

  }
</script>
</div>
</div>
</html>