<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutMy}">
<head>
  <title>마이페이지</title>
</head>

<div layout:fragment="content" class="container">
<div class="">
    <div>
      <div class="card mb-5 mt-5" style="width: 500px; float: none; margin: 0 auto">
        <div class="row g-0" th:each="u:${user}">
          <div class="col-md-4">
            <img th:src="@{'{path}'(path=${u.imgPath})}" class="img-fluid rounded-start card-img-top" alt="회원이미지">
          </div>
          <div class="col-md-8">
            <div class="card-body" >
              <h5 class="card-title" th:text="${u.name}"></h5>
              <p class="card-text" th:text="${u.nkName}"></p>
              <p class="card-text"><small class="text-body-secondary" th:text="${u.prContent}"></small></p>
              <p>팔로워:<span th:text="${(user.followers!=null)?user.followers.size():0}"></span>
                 팔로잉:<span th:text="${(user.followings!=null)?user.followings.size():0}"></span>
              </p>
              <span>나의 MBTI : <p th:text="${u.mbti}"></p></span>
              <a class="btn btn-info" href="#">쪽지함</a>
              <a class="btn btn-secondary" href="/{uId}/detail.do">정보수정</a>
            </div>
          </div>
        </div>
      </div>

        <div class="card-group" style="width: 70%; float: none; margin: 0 auto">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">나의일정1</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">나의일정2</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">나의일정3</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
          </div>
      </div>
    </div>
</div>
</div>
</html>