<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutMy}">
<head>
  <title>마이 페이지</title>
</head>
<div layout:fragment="content" class="container">
  <div class="p-1 mt-5" style="width: 600px;margin: 0 auto;">
    <h5 class="mt-4">
      <i class="bi bi-person-bounding-box text-primary"></i>
      <span th:text="${user.name}"></span>님의 기본정보 </h5>
    <p th:hidden="${user.pw}"></p>
    <div class="row">
      <div class="p-3 card col">
        <div class="d-flex align-items-center card-body col">
          <div id="imgBox" class="me-5 m-0">
            <img class="border rounded-circle col-12 " th:src="@{'{path}'(path=${user.imgPath})}" ></img>
          </div>
          <div class="card-text col-8">
            <p>
              <span class="bg-primary bg-opacity-50 text-white rounded-4 p-2 mb-2">아이디</span>
              <span class=" ms-4" th:text="${user.uId}"></span>
            </p>
            <p>
              <span class=" bg-primary bg-opacity-50  text-white rounded-4 p-2">이름</span>
              <span class=" ms-4" th:text="${user.name}"></span><br>
            </p>
            <p>
              <span class=" bg-primary bg-opacity-50  text-white rounded-4 p-2">닉네임</span>
              <span class=" ms-4" th:text="${user.nkName}"></span><br>
            </p>
            <p class="mb-1">
              <span class=" bg-primary bg-opacity-50 text-white rounded-4 p-2">이메일</span>
              <span class=" ms-4" th:text="${user.email}"></span>
            </p>
          </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
          <small class="me-3">
            <span class="text-primary">팔로워</span>
            <span class=" ms-1" th:text="${(user.followers!=null)?user.followers.size():0}"></span><br>
          </small>
          <small>
            <span class=" text-primary ">팔로잉</span>
            <span class=" ms-1" th:text="${(user.followings!=null)?user.followings.size():0}"></span><br>
          </small>
        </div>
        <p class="text-secondary text-center mb-0 " th:text="${user.prContent}"></p>
        <hr>
        <p class="">
          <span class=" bg-primary bg-opacity-50 text-white rounded-4 p-2">MBTI</span>
          <span class=" ms-4" th:text="${user.mbti}"></span>
        </p>
        <p>
          <span class=" bg-primary bg-opacity-50 text-white rounded-4 p-2">생일</span>
          <span class=" ms-4" th:text="${user.birth}"></span>
        </p>
        <p>
          <span class=" bg-primary bg-opacity-50 text-white rounded-4 p-2">핸드폰</span>
          <span class=" ms-4" th:text="${user.phone}"></span>
        </p>
        <p>
          <span class=" bg-primary bg-opacity-50 text-white rounded-4 p-2">주소</span>
          <span class=" ms-4" th:text="${user.address}"></span>
          <span class=" ms-1" th:text="${user.detailAddress}"></span>
        </p>
        <p>
          <span class=" bg-primary bg-opacity-50 text-white rounded-4 p-2">가입일</span>
          <span class=" ms-4" th:text="${user.postTime}"></span>
        </p>
        <div id="partnerInfo" th:if="${user.permission=='partner'}">
          <p>
            <span class=" bg-primary bg-opacity-50 text-white rounded-4 p-2">가게이름</span>
            <span class=" ms-4" th:text="${user.storeName}"></span>
          </p>
          <p>
            <span class=" bg-primary bg-opacity-50 text-white rounded-4 p-2">사업자번호</span>
            <span class=" ms-4" th:text="${user.businessId}"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</html>