<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <section id="commListContainer" class=" row">
        <p>가보자고(Community)</p>
        <hr>
        <div class="col-11 my-2" th:each="c:${communities}">
            <div class="card" >
                <div class="row no-gutters">
                    <div class="col-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdwgslP3IvAktgE1lSpdpN7WrKXzm4XSLcVuGtACLCLA&s"
                                 alt="" class="card-img" />
                        <div class="card-img-overlay col-4">
                            <p class="card-text text-white text-end me-3">
                                <i class="bi bi-heart fs-3"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title" >
                                <a th:text="${c.title}" th:href="@{'/comm/{cId}/detail.do'(cId=${c.cId})}"></a>
                            </h5>
                            <p>
                                작성자<span class="me-1" th:text="${c.uId}"></span>
                                <small class="me-1" th:text="${#dates.format(c.postTime,'yyyy-MM-dd')}">작성일</small>
                                <small class="me-1" th:text="${#dates.format(c.updateTime,'yyyy-MM-dd')}">수정일</small>
                                <small >조회수</small> </p>
                            <p class="card-text" th:text="${c.content}"></p>
                        </div>
                        <div class="text-end me-2 my-2">
                            <a href="#" class="btn btn-primary me-2">수정</a>
                            <a href="#" class="btn btn-danger">삭제</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>