<div id ="reportModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">
          <i class="bi bi-bell-fill fs-3 text-danger"></i>
          신고하기
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
            <label  class="col-4 form-label text-danger h5">신고아이디</label>
              <input type="text" readonly class="form-control-plaintext" th:value="${c.uId}">
            <label  class=" col-4 form-label text-danger h5">글번호</label>
           <input type="text" readonly class="form-control-plaintext" name="c_id" th:value="${c.cId}">
            <label  class="col-4 form-label text-danger h5">신고내용</label>
            <div class="col">
              <textarea class="form-control" rows="3"></textarea>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-danger">신고하기</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>