<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>상세 폼</title>
</head>
<div layout:fragment="content">
  <form name="detail" action="./update.do" method="get" style="width: 500px;margin: 0 auto;">
    <h1 class="my-4">상세내역</h1>
    <p th:text="${user.uId}"></p>
    <p th:hidden="${user.pw}"></p>
    <p th:text="${user.name}"></p>
    <p th:text="${user.nkName}"></p>
    <p th:text="${user.email}"></p>
    <p th:text="${user.birth}"></p>
    <p th:text="${user.phone}"></p>
    <p th:text="${user.address}"></p>
    <p th:text="${user.detailAddress}"></p>
    <p th:text="${user.prContent}"></p>
    <p th:text="${user.mbti}"></p>
    <div>
      <img th:src="@{'{path}'(path=${user.imgPath})}"></img>
    </div>
    <p th:text="${user.postTime}"></p>
    <p class="text-end">
      <button class="btn btn-outline-primary">수정</button>
    </p>
  </form>
      <a href="./dropout.do" class="btn btn-outline-warning">탈퇴</a>
</div>
</html>