<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">GABOJAGO(LOGO)</a>
        <!--📁 메뉴부분 아래 클래스의 d-flex 하면 화면 줄일때 햄버거버튼에 문제가 생겨서 이대로 잠시 둡니다..-->
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">가보자고</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/plan/list.do">같이놀자</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/comm/list.do">같이놀자</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/sells/list.do">상품판매</a>

                    </li>
                </ul>
            </div>
            <div >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            마이페이지
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">마이페이지메뉴</a></li>
                            <li><hr class="dropdown-divider"></li> <!--구분선-->
                            <li><a class="dropdown-item" href="#">마이페이지메뉴</a></li>
                        </ul>
                    </li>
                    <th:block th:if="${session.loginUser==null}">
                        <li class="nav-item d-flex ">
                            <a class="nav-link me-2" href="/user/login.do">로그인</a>
                            <a class="nav-link" href="/user/signupAgree.do">회원가입</a>
                        </li>
                    </th:block>
                    <th:block th:if="${session.loginUser!=null}">
                        <li class="nav-item d-flex">
                            <a class="nav-link me-2"
                               th:href="@{'/user/{uId}/detail.do'(uId=${session.loginUser.uId})}">
                                <span th:text="${session.loginUser.uId}"></span>
                                (<span th:text="${session.loginUser.name}"></span>)
                            </a>
                            <a class="nav-link" href="/user/logout.do">로그아웃</a>
                        </li>
                    </th:block>
                </ul>
            </div>
       </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<th:block th:if="${loginMsg!=null || session.loginMsg !=null}">
    <div id="actionModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">알림</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="${loginMsg}"></p>
                    <p th:text="${session.loginMsg}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const actionModal=document.getElementById("actionModal");
        new bootstrap.Modal(actionModal).show();
    </script>
</th:block>
<th:block th:if="${signupMsg!=null || session.signupMsg !=null}">
    <div id="signupActionModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">알림</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="${signupMsg}"></p>
                    <p th:text="${session.signupMsg}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const signupActionModal=document.getElementById("signupActionModal");
        new bootstrap.Modal(signupActionModal).show();
    </script>
</th:block>
</html>


<!--🍒 드롭다운메뉴 필요하신분 추가해서 사용하세요 :)-->
<!--                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>

                </li>-->
