<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns="">

<style>
    .gmenu {
        font-family: 'Nanum Pen Script', cursive;
    }
</style>
<div class="d-flex justify-content-center ">
    <a href="/">
    <img src="/public/img/gabojagoLogo.png"  class="img-fluid" alt="">
    </a>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-content-center " id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center d-flex justify-content-center ">
                <li class="nav-item">
                    <a class="nav-link text-dark link-primary active px-5 fs-2 gmenu" aria-current="page" href="/trip/list.do">가보자고</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark link-primary active px-5 fs-2 gmenu" aria-current="page" href="/plan/list.do">같이가자</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark link-primary active px-5 fs-2 gmenu" aria-current="page" href="/comm/list.do">같이놀자</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark link-primary active px-5 fs-2 gmenu" aria-current="page" href="/sells/list.do">상품판매</a>
                </li>
            </ul>
            <ul class="d-flex justify-content-lg-center" style="list-style: none" >
                 <th:block th:if="${session.loginUser==null}">
                    <li class="nav-item">
                        <a class="btn btn-outline-dark fw-bold me-2 " href="/user/login.do">로그인</a>
                        <a class="btn btn-outline-dark fw-bold " href="/user/signupAgree.do">회원가입</a>
                    </li>
                </th:block>
                <th:block th:if="${session.loginUser!=null}">
                    <li class="nav-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">

                                     <i class="bi bi-person fs-3"></i>
                                 <a th:href="@{'/user/{uId}/detail.do'(uId=${session.loginUser.uId})}"
                                    class="text-decoration-none text-center text-dark link-primary fs-5 me-3 d-flex align-items-center" >
                                     <p th:text="${session.loginUser.name}" class="mb-0"> 님</p>
                                     <p th:text="'('+${session.loginUser.uId}+')'" class="mb-0"></p>
                                 </a>
                            </div>
                                <a class="btn btn-outline-danger mb-0" href="/user/logout.do">로그아웃</a>
                        </div>

                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>
</html>


<!--🍒 드롭다운메뉴 필요하신분 추가해서 사용하세요 :)-->
<!--                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>

                </li>-->
