<!DOCTYPE html>

<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <div layout:fragment="content">
        <h1 class="mt-3">테스트용 메인화면:)</h1>


    <h3 clas="my-4">
        <i class="bi bi-car-front"></i>
        가보자고</h3>
    <div id="tripContainer" class="d-flex justify-content-evenly my-4">
        <div class="card" style="width: 18rem;" th:each="t:${trip}">
            <div th:if="${t.imgs!=null}" th:each="img,state:${t.imgs}">
                <img th:if="${state.current.imgMain==true}" th:src="@{'{path}'(path=${img.imgPath})}" class="d-block w-100" style="object-fit: contain"  alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${t.title}">Card title</h5>
                <p class="card-text"></p>
                <a  th:href="@{'/trip/{tId}/detail.do'(tId=${t.tId})}" class="btn btn-primary">바로가기</a>
            </div>
        </div>
    </div>


    <h3>
        <i class="bi bi-people"></i>
        같이놀자</h3>
    <div id="commContainer" class="d-flex justify-content-evenly my-4">
        <div class="card" style="width: 18rem;" th:each="c:${comm}">
            <div class="card-body">
                <div th:id="'carousel'+${c.cId}" class="carousel slide" data-bs-ride="carousel">
                    <div th:if="${c.imgs != null}"  class="carousel-inner">
                        <div class="carousel-item" th:each="img,state:${c.imgs}" th:classappend="${(state.first)?'active':''}">
                            <img th:src="@{'{path}'(path=${img.imgPath})}" class="d-block w-100" alt="게시글 이미지">
                        </div>
                    </div>
                    <div th:unless="${c.imgs != null}" class="carousel-inner">
                        <div class="carousel-item">
                            <img src="/public/img/comm/1681717713661_1319.jpeg" class="d-block w-100 active" alt="기본이미지">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" th:data-bs-target="'#carousel'+${c.cId}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" th:data-bs-target="'#carousel'+${c.cId}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${c.title}"></h5>
            </div>
            <div class="card-footer">
                <p id="mbtiChk">
                    <a href="/comm/list.do?searchField=istp&searchValue=1" class="" th:text="${c.istp==1}?'#ISTP':''" ></a>
                    <a href="/comm/list.do?searchField=istj&searchValue=1" class="" th:text="${c.istj==1}?'#ISTJ':''" ></a>
                    <a href="/comm/list.do?searchField=isfj&searchValue=1" class="" th:text="${c.isfj==1}?'#ISFJ':''" ></a>
                    <a href="/comm/list.do?searchField=isfp&searchValue=1" class="" th:text="${c.isfp==1}?'#ISFP':''" ></a>
                    <a href="/comm/list.do?searchField=intj&searchValue=1" class="" th:text="${c.intj==1}?'#INTJ':''" ></a>
                    <a href="/comm/list.do?searchField=intp&searchValue=1" class="" th:text="${c.intp==1}?'#INTP':''" ></a>
                    <a href="/comm/list.do?searchField=infj&searchValue=1" class="" th:text="${c.infj==1}?'#INFJ':''" ></a>
                    <a href="/comm/list.do?searchField=infp&searchValue=1" class="" th:text="${c.infp==1}?'#INFP':''" ></a>
                    <a href="/comm/list.do?searchField=estj&searchValue=1" class="" th:text="${c.estj==1}?'#ESTJ':''" ></a>
                    <a href="/comm/list.do?searchField=estp&searchValue=1" class="" th:text="${c.estp==1}?'#ESTP':''" ></a>
                    <a href="/comm/list.do?searchField=esfj&searchValue=1" class="" th:text="${c.esfj==1}?'#ESFJ':''" ></a>
                    <a href="/comm/list.do?searchField=esfp&searchValue=1" class="" th:text="${c.esfp==1}?'#ESFP':''" ></a>
                    <a href="/comm/list.do?searchField=entj&searchValue=1" class="" th:text="${c.entj==1}?'#ENTJ':''" ></a>
                    <a href="/comm/list.do?searchField=entp&searchValue=1" class="" th:text="${c.entp==1}?'#ENTP':''" ></a>
                    <a href="/comm/list.do?searchField=enfj&searchValue=1" class="" th:text="${c.enfj==1}?'#ENFJ':''" ></a>
                    <a href="/comm/list.do?searchField=enfp&searchValue=1" class="" th:text="${c.enfp==1}?'#ENFP':''" ></a>
                </p>
            </div>
        </div>
    </div>


    <h3>
        <i class="bi bi-cart"></i>
        상품판매</h3>
    <div id="sellContainer" class="d-flex justify-content-evenly my-4">
        <div class="card" style="width: 18rem;" th:each="s:${sells}">
            <div class="card-body">
                <div th:id="'carousel'+${s.sId}" class="carousel slide" data-bs-ride="carousel">
                    <div th:if="${s.sellImgs != null}"  class="carousel-inner">
                        <div class="carousel-item" th:each="sellImgs,state:${s.sellImgs}" th:classappend="${(state.first)?'active':''}">
                            <img th:src="@{'{path}'(path=${sellImgs.imgPath})}" class="d-block w-100" alt="게시글 이미지">
                        </div>
                    </div>
                    <div th:unless="${s.sellImgs != null}" class="carousel-inner">
                        <div class="carousel-item">
                            <img src="/public/img/comm/1681717713661_1319.jpeg" class="d-block w-100 active" alt="기본이미지">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" th:data-bs-target="'#carousel'+${s.sId}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" th:data-bs-target="'#carousel'+${s.sId}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${s.title}"></h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">바로가기</a>
            </div>
        </div>
    </div>







        <img src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZW
        FyY2h8Mnx8JUVCJUExJTlDJUVCJTkzJTlDJTIwJUVEJThBJUI4JUVCJUE2JUJEfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="testImg">
    </div>


</html>


</html>

