<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<!--https://github.com/ultraq/thymeleaf-layout-dialect -->
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/dist/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
<!--    <link rel="stylesheet" href="/webjars/splidejs__splide/4.1.4/dist/js/splide.min.js">-->
<!--    <script src="/webjars/splidejs__splide/4.1.4/dist/css/splide.min.css"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="/public/js/Follow.js"></script>
    <style>
        a {
            text-decoration: none;
        }
    </style>

</head>
<body>
    <header th:replace="/headerNav"></header>
    <main class="container-fluid d-flex justify-content-evenly " style="padding-left:0">
         <div class="bg-secondary bg-opacity-10" style="width:250px" th:include="/my/dropDownMenu"></div>
         <div layout:fragment="content"></div>
    </main>

    <!--재사용 모달 창-->
    <th:block th:if="${msg!=null || session.msg!=null}">
        <div  id="actionModal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <i class="bi bi-airplane"></i>
                            Gabojago
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p th:text="${msg}"></p><!--메세지거나 세션메세지거나..-->
                        <p th:text="${session.msg}"></p><!--메세지거나 세션메세지거나..-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            const actionModal=document.getElementById("actionModal");
            new bootstrap.Modal(actionModal).show();
        </script>
    </th:block>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>
<footer class="bg-primary bg-opacity-25" style="height: 200px" >
    <div class="container p-2">
        <div class="mt-3">
            <p class="m-0">국내 유일, 실시간 여행플랜 사이트 Gabojago!</p>
            <p class="fw-bold mb-1 ms-1"><a href="/notice/list.do" class="text-dark link-primary">NOTICE</a></p>
            <p class="fw-bold ms-1">관리자페이지</p>
        </div>
        <div class="mt-4">
            <p class="fw-light mb-0">에이콘아카데미 2조 프로젝트</p>
            <p class="mb-0" ><b>Creator</b> <span class="fw-light">이현주 문은정 장동일 김봉현 양은주 신동일</span> </p>
        </div>
    </div>

</footer>

</html>

