<div class="modal fade" id="reviewModifyModal" tabindex="-1">
    <div class="modal-dialog">
        <form enctype="multipart/form-data" name="reviewModifyForm" method="post"
              class="modal-content">
            <input type="hidden" name="trId">
            <input type="hidden" name="tId">
<!--            <input type="hidden" name="imgs">-->

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">리뷰 수정</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="form-floating">
                    <input type="text" name="uId" readonly class="form-control" placeholder="글쓴이">
                    <!-- 로그인한 유저만 보이기 -->
                    <!-- <input th:value="${session.loginUser.uId}" type="text" name="uId" readonly class="form-control" placeholder="글쓴이">-->
                    <label>글쓴이</label>
                </p>
                <p>
                    평가 <span>☆☆☆☆☆</span>
                </p>
                <p>
                    <p th:text="${r}"></p>
                    <p th:text="${r.visit}"></p>
                    <label>
<!--                        <input type="radio" name="visit" th:value="${r.visit==1}" th:checked="${#strings.equals(r.visit,1)}">-->
<!--                        <input type="radio" name="visit" value="1" th:checked="${r.visit==1}">-->
                        <input type="radio" name="visit" value="1" th:checked="${r.visit==true}">
                        방문
                    </label>
                    <label>
<!--                        <input type="radio" name="visit" th:value="${r.visit==0}" th:checked="${#strings.equals(r.visit,0)}">-->
<!--                        <input type="radio" name="visit" value="0" th:checked="${r.visit==0}">-->
                        <input type="radio" name="visit" value="0" th:checked="${r.visit==flase}">
                        방문전
                    </label>
                </p>

                <p class="form-floating">
                    <input type="text" name="title" readonly th:value="${t.title}"
                           class="form-control" placeholder="장소이름">
                    <label>장소이름</label>
                </p>
                <div id="imgDelCont"> <!-- imgs 의 img 들의  imgPath -->
                    <h4>이미지 삭제(체크)</h4>
                    <p th:text="${r.trId}"></p>
                    <div class="d-flex">
                        <label th:each="img:${r.imgs}" class="w-25 delImgItem"> <!-- 리뷰한개의 각 1개의 이미지 -->
<!--                            <input type="hidden" name="imgPath">-->
                            <i class="bi bi-x"></i>
                            <input type="checkbox" class="delImgInput" name="delImgId" th:value="${img.triId}">
                            <img th:src="@{'{path}'(path=${img.imgPath})}" class="img-thumbnail" alt="">
                        </label>
                    </div>


                    <p id="modifyImgCont">
                        <button id="modifyImgAddBtn" class="btn btn-danger w-100" type="button">
                            이미지
                            <i class="bi bi-plus-square"></i>
                        </button>
                    </p>
                    <p>
                    </p>
                    <p class="form-floating">
                        <input type="text" name="content" class="form-control" placeholder="내용">
                        <label>내용</label>
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="removeReviewBtn" class="btn btn-outline-dark" data-bs-dismiss="modal">삭제
                    </button>
                    <button type="submit" class="btn btn-outline-danger">등록</button>
                </div>
            </div>
        </form>
    </div>
</div>