<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">

< layout:fragment="content">
  <section id="boardCont" class="">
    <div class="row">
      <h5 class="card-title" th:text="${q.title}"></h5>
      <p class="card-text" th:text="${q.content}"></p>
      <div class="d-flex my-2">
        <div class="me-2">
          작성일 : <small th:text="${#dates.format(q.postTime,'yyyy-MM-dd')}"></small>
        </div>
      </div>
    </div>
  </section>
</html>

