<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<body>
<div layout:fragment="content" class="container">
  <h3>고객센터/글 수정</h3>
<br><br>
  <section id="boardCont" class="">
    <div class="col ps-0">
      <div class="card col" style="height: 75vh; overflow-y: auto" >
        <div class="card-header d-flex justify-content-between align-items-center
                      bg-light position-sticky top-0" style="z-index: 999">
        </div>
        <div class="d-flex my-2">
          <div class="me-2">
            작성유저 : <small th:text="${q.getUId()}"></small>
          </div>
        </div>
        <h5 class="card-title">
          제목 : <p th:text="${q.title}"></p>
        </h5>
        <div class="col-2 d-flex">
          <a class="btn btn-sm btn-outline-dark me-1">수정</a>
          <a class="btn btn-sm btn-outline-danger">삭제</a>
        </div>
        <hr>
        <p class="card-text">
          <sapn th:text="${q.content}"></sapn>
        </p>
      </div>
    </div>
  </section>
</div>
</body>
</html>

