<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>맞춤추천 리스트</title>
    <script src=""></script>
    <style>
        .delImgInput {
            display: none;
        }
        .delImgItem > .delImgInput:checked + img {
            background-color: lightcoral;
        }
    </style>
</head>
<div layout:fragment="content" class="container">
<!--    <script src="/public/js/splideTest.js"></script>-->
    <h3 class="my-4">맞춤추천 상세</h3>

    <!--    <div class="splide">-->
    <!--        <div class="splide__track">-->
    <!--            <ul class="splide__list">-->
    <!--                <li class="splide__slide"><img src="image1.jpg"></li>-->
    <!--                <li class="splide__slide"><img src="image2.jpg"></li>-->
    <!--                <li class="splide__slide"><img src="image3.jpg"></li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->

    <section id="tripCont">
        <div class="row">
            <div class="col-5">
                <div class="card border-dark border-opacity-25">
                    <div class="card-header p-3 bg-transparent border-dark border-opacity-25">
                        <div class="d-flex justify-content-around">
                            <p class="card-text d-flex flex-column align-items-center g-2 mb-0">
                                <span class="bi bi-heart mb-1"></span>
                                좋아요
                                <span>156</span>
                            </p>
                            <p class="card-text d-flex flex-column align-items-center g-2 mb-0">
                                <span class="bi bi-heart mb-1"></span>
                                북마크
                                <span>156</span>
                            </p>
                            <p class="card-text d-flex flex-column align-items-center g-2 mb-0">
                                <span class="bi bi-heart mb-1"></span>
                                리뷰
                                <span>156</span>
                            </p>
                            <p class="card-text d-flex flex-column align-items-center g-2 mb-0">
                                <span class="bi bi-heart mb-1"></span>
                                방문
                                <span>156</span>
                            </p>
                            <p class="card-text d-flex flex-column align-items-center g-2 mb-0">
                                <span class="bi bi-heart mb-1"></span>
                                조회수
                                <span>156</span>
                            </p>
                        </div>
                    </div> <!-- // 좋아요,북마크,리뷰,방문,조회수 -->

                    <div class="card-body text-success">
                        <h5 class="card-title">제주도에서 즐기는 봄꽃 여행</h5>
                        <p class="card-text">
                            <span>☆☆☆☆☆</span>
                            <small>156</small>
                        </p>
                        <p class="card-text">
                            #enfj#enfp#istj
                            mbti / 해시태그
                        </p>
                        <h6>기본정보</h6>
                        <p class="card-text">
                            주소
                            <span>서귀포</span>
                        </p>
                        <p class="card-text">
                            연락처
                            <span>01011112222</span>
                        </p>
                        <p class="card-text">
                            홈페이지
                            <span>https://www.visitjeju.net/kr/</span>
                        </p>
                        <p class="card-text">
                            등록일 / 수정일
                            <span></span>
                        </p>
                    </div> <!---->

                    <div class="card-footer bg-transparent border-dark border-opacity-25">
                        <label for="" class="form-label">소개글</label>
                        <textarea name="" id="" rows="4" class="form-control" th:text="${t.content}"></textarea>
                    </div>
                </div>
            </div> <!-- 게시글 상세 (왼쪽) -->


            <div class="col-7">
                <div class="card mb-3" style="border:none; height:80vh; overflow-y: auto">
<!--                    <div class="card-header d-flex justify-content-between align-items-center">-->
<!--                        <strong th:text="${t.area}"></strong>-->
<!--                        <i class="bi bi-heart text-danger"></i>-->
<!--                    </div>-->

                    <!-- imgs 가 null 이 아니면 보이기! null 이면 안보이기! -->
                    <div th:id="'carousel'+${t.tId}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item rounded-top overflow-hidden" th:each="img,state : ${t.imgs}"
                                 th:classappend="${img.imgMain}?'active':''">
                                <img th:if="${t.imgs!=null}" th:src="@{'{path}'(path=${img.imgPath})}"
                                     class="d-block w-100" style="object-fit: contain">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" th:data-bs-target="'#carousel'+${t.tId}"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" th:data-bs-target="'#carousel'+${t.tId}"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="pt-3">
                        <p class="d-flex justify-content-between align-items-center">
                            <span>
                                여행가의 리뷰 <strong>52</strong>
                            </span>
                            <a class="btn btn-danger" href="javascript:void(0)" id="loadReviewRegister">
                                리뷰 작성하기
                            </a>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-0">
                                <span>
                                    <i class="bi bi-record-circle text-danger"></i>
                                    좋아요순
                                </span>
                                <span>
                                    <i class="bi bi-circle text-dark text-opacity-25"></i>
                                    최신순
                                </span>
                            </p>
                            <button type="button" class="btn btn-light" th:onclick="loadReviews([[${t.tId}]])">
                                새로고침
                            </button>
                        </div>
                        <hr>
                        <div id="reviewCont">
                            <ul class="list-group">
                                <li class="list-group-item" th:each="r:${t.reviews}">
<!--                                    <span th:text="${r}"></span>-->
                                    <th:block th:include="/trip/review/detail.html"></th:block>
                                </li>
                            </ul>
                        </div> <!-- // reviewCont -->
                    </div>

                    <div class="card-footer position-sticky bottom-0 bg-light" style="border: 1px solid #ddd;">
                        <!-- 리뷰댓글 입력폼 -->
                        <form enctype="multipart/form-data" name="reviewCmtInsertForm" method="post" action="">
                            <div class="row align-items-center">
                                <input type="hidden" name="uId" th:value="${session.loginUser.uId}">
                                <input type="hidden" name="tId" th:value="${t.tId}">
                                <div class="col-2">
                                    <input name="trId" placeholder="리뷰댓글" type="text" readonly class="form-control">
                                </div>
                                <div class="col-2">
                                    <input name="parentTrcId" placeholder="부모댓글" type="text" readonly class="form-control">
                                </div>
                                <div class="col">
                                    <input name="content" placeholder="댓글달기..." type="text" class="form-control">
                                </div>
                                <button class="btn col-auto">
                                    <i class="bi bi-send"></i>
                                    <!-- 등록 -->
                                </button>
                                <label class="col-auto">
                                    <i class="bi bi-file-image"></i>
                                    <input class="d-none" type="file" name="img">
                                </label>

                            </div>
                        </form>
                    </div>


                </div>
                <!-- 리뷰작성하기 Modal -->
                <th:block th:include="/trip/review/reviewRegisterModal.html"></th:block>

            </div> <!-- 오른쪽 그리드 -->
        </div> <!-- // 그리드 row -->
    </section>
    <script> 
    // 리뷰등록 모달창 이미지 버튼
    const registerImgAddBtn = document.getElementById("registerImgAddBtn");
    if(registerImgAddBtn){ // // 👀 함수 위치가 달라서 ? if 문 해주는거? register 함수 아래에 있으면 if 안해줘도 되나?
        const registerImgCont = document.getElementById("registerImgCont");
        let registerImgAddBtnCount = 0;
        registerImgAddBtn.addEventListener("click", (e) => {
            if (registerImgAddBtnCount < 5) {
                registerImgCont.insertAdjacentHTML("beforeend", registerImgInputComponent());
                registerImgAddBtnCount++;
            }
        });

        function registerImgInputComponent(label = "이미지", name = "img") {
            return `
                     <p class="input-group mt-2">
                        <label class="input-group-text click">${label}</label>
                        <input class="form-control" type="file" name="${name}">

                        <button type="button" class="btn btn-danger" onclick="this.closest('.input-group').remove()">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </p>
                `
        }
    }

    // 리뷰 수정모달
    const modifyImgAddBtn = document.getElementById("modifyImgAddBtn");
    if(modifyImgAddBtn){ // 👀 if(reviewModifyModal) 이안에 있어도 되는것? 스크립트가 달라서?
        const modifyImgCont = document.getElementById("modifyImgCont");
        let modifyImgAddBtnCount = 0;
        modifyImgAddBtn.addEventListener("click", (e) => {
            if (modifyImgAddBtnCount < 5) {
                modifyImgCont.insertAdjacentHTML("beforeend", modifyImgInputComponent());
                modifyImgAddBtnCount++;
            }
        });

        function modifyImgInputComponent(label = "이미지", name = "img") {
            return `
                     <p class="input-group mt-2">
                        <label class="input-group-text click">${label}</label>
                        <input class="form-control" type="file" name="${name}">

                        <button type="button" class="btn btn-danger" onclick="this.closest('.input-group').remove()">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </p>
                `
        }
    }
    </script>
    <script th:inline="javascript">
        const reviewRegisterModal = new bootstrap.Modal(document.getElementById("reviewRegisterModal"), {}); // {} 이게 뭐지?
        let reviewModifyModal;

        if(document.getElementById("reviewModifyModal")){
            reviewModifyModal=new bootstrap.Modal(document.getElementById("reviewModifyModal"),{})
        }
        const reviewRegisterForm = document.forms["reviewRegisterForm"];
        const reviewModifyForm=document.forms["reviewModifyForm"];
        const reviewCmtInsertForm=document.forms["reviewCmtInsertForm"];
        const reviewCont = document.getElementById("reviewCont");
        const removeReviewBtn=document.getElementById("removeReviewBtn");


            removeReviewBtn.addEventListener("click",removeReview);
        if(removeReviewBtn){ // 👀 if(reviewModifyModal) 안에 있어도 되나?
        }

        // 리뷰 등록 버튼 => 리뷰등록 모달창 보이기
        const loadReviewRegister=document.getElementById("loadReviewRegister");
        loadReviewRegister.addEventListener("click",function(){
            reviewRegisterModal.show();
        });
        if(reviewModifyModal){ // 👀 if(reviewModifyModal) 하나로 합치는건 ?
            async function removeReview(){
                let c = confirm("삭제 하시겠습니까"); // 삭제 알림창 (확인 true / 취소 false)
                let url="/review/handler.do";
                let data=new FormData(reviewModifyForm);
                if(c) { // 삭제 확인버튼
                    const resp=await fetch(url, {method:"DELETE", body:data});
                    if(resp.status===200){
                        const json=await resp.json(); // json 객체
                        if(json.remove>0){
                            alert("삭제 성공");
                            loadReviews(reviewModifyForm.tId.value);
                        } else{
                            alert("삭제 실패(삭제된 레코드)");
                        }
                    } else { // 오류발생
                        alert("삭제실패 status : " + resp.status);
                    }
                }
                reviewModifyModal.hide();
            }

        }
        // 리뷰 삭제 버튼

        // 댓글달기 클릭 시, input 에 value 값(파라미터로 넘기는 값) 담는 함수
        function reviewCmtClick(trId,trcId){
            reviewCmtInsertForm.trId.value=trId;
            reviewCmtInsertForm.parentTrcId.value=trcId;
        }

        async function loadReviewsCmt(trId){
            let url=`/reviewcmt/${trId}/list.do`
            const resp=await fetch(url);
            if(resp.status===200){
                let text=await resp.text();
                reviewCont.innerHTML=text; // ajax 로 리스트 새로 불러오기
                // console.log(text);
                // alert("변경");
            }
        }


        reviewCmtInsertForm.onsubmit=registerReviewCmt;
        async function registerReviewCmt(e){
            e.preventDefault();
            const data = new FormData(reviewCmtInsertForm);
            let url="/reviewcmt/handler.do"
            const resp=await fetch(url,{method:"POST", body:data});
            if(resp.status===200){
                const json=await resp.json();
                if(json.register>0){
                    alert("등록성공");
                    await loadReviews(reviewCmtInsertForm.tId.value);
                    // loadReviews(reviewModifyForm.tId.value);
                    // await loadReviewsCmt(reviewCmtInsertForm.trId.value);
                }
            }else{
                alert("등록실패 status:" + resp.status);
            }

        }
        if(reviewModifyModal){
            async function loadModifyReview(trId){
                let url=`/review/${trId}/detail.do`;
                const resp= await fetch(url);
                if(resp.status===200){
                    const json=await resp.json();
                    console.log(json)
                    // input 의 이름 name => key 값
                    // {"trId":19,"content":"dddd 이미지 등록 삭제 테스트","visit":false,"postTime":"2023-04-20T23:05:13.000+00:00","updateTime":"2023-04-23T04:28:37.000+00:00","grade":0,"imgs":[{"triId":6,"trId":19,"imgPath":"테스트"},{"triId":43,"trId":19,"imgPath":"/public/img/trip/review/1682224117423_27386.jpeg"}],"user":{"pw":"1234","name":"김철수","nkName":"바보철수","email":"user01@example.com","birth":"1989-12-31T15:00:00.000+00:00","phone":"010-1234-5678","address":"서울특별시 강남구","detailAddress":"삼성동 123-45","prContent":"안녕하세요. 저는 철수입니다.","permission":"USER","mbti":"ISTJ","imgPath":"/public/img/trip/review/jeju1.jpeg","postTime":"2023-04-19T03:19:22.000+00:00","storeName":null,"businessId":null,"uid":"USER01"},"tId":1,"uId":"user01"}
                    reviewModifyForm.querySelectorAll("[name]").forEach((input)=>{
                        let key=input.name;
                        if(key in json) {
                            if(key==="imgPath"){
                                input.src=json[key];
                            }
                            else{
                                input.value=json[key];
                            }
                        }
                    })
                    reviewModifyModal.show();
                } else{
                    alert("불러오기 실패 status: " + resp.status);
                }
            }

        }


        reviewRegisterForm.onsubmit = registerReview;
        async function registerReview(e) {
            e.preventDefault(); // ajax => form 에 버튼 submit 이벤트 막기
            reviewRegisterModal.hide();
            let url = "/review/handler.do"
            const data = new FormData(reviewRegisterForm);
            const resp = await fetch(url, {method: "POST", body: data});
            if (resp.status===200) {
                const json = await resp.json(); // 응답객체 json 객체로 파싱
                if (json.register > 0) {
                    alert("등록성공");
                    await loadReviews(reviewRegisterForm.tId.value);
                }
                console.log(json);
            } else {
                alert("등록실패 status: " + resp.status);
            }
        }
        if(reviewModifyModal){
            reviewModifyForm.onsubmit=modifyReview;
            async function modifyReview(e) {
                e.preventDefault();
                reviewModifyModal.hide();
                let url="/review/handler.do";
                const data=new FormData(reviewModifyForm);
                const resp=await fetch(url,{method:"PUT", body:data});
                if(resp.status===200){
                    const json=await resp.json();
                    if(json.modify>0) {
                        alert("수정성공");
                        loadReviews(reviewModifyForm.tId.value);
                    }
                }else{
                    alert("수정 실패 status : " + resp.status);
                }
            }
        }

        async function loadReviews(tId){
            let url=`/review/${tId}/list.do`
            const resp=await fetch(url);
            if(resp.status===200){
                let text=await resp.text();
                reviewCont.innerHTML=text; // ajax 로 리스트 새로 불러오기
                // console.log(text);
                // alert("변경");
            }
        }




    </script>


</div>
</html>