<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>맞춤추천 리스트</title>
<script src=""></script>
</head>
<div layout:fragment="content" class="container">
    <h1 class="my-4">맞춤추천 리스트</h1>
        <div class="text-end" th:if="${session.loginUser!=null}">
<!--        <div class="text-end">-->
            <a class="btn btn-primary" href="/trip/register.do" role="button">여행지 등록</a>
        </div>

<!--    <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination">-->
<!--            <li class="page-item">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{''(pageNum=${page.prePage})}"-->
<!--                   th:classappend="${page.isHasPreviousPage ? '':'disabled'}"><i class="bi bi-arrow-left"></i></a>-->

<!--            </li>-->
<!--            <li class="page-item" th:each="p:${page.navigatepageNums}">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{''(pageNum=${p},pageSize=${6})}"-->
<!--                   th:text="${p}"-->
<!--                   th:classappend="${p==page.pageNum ? 'active' : ''}">-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="page-item">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{''(pageNum=${page.nextPage})}"-->
<!--                   th:classappend="${page.isHasNextPage ? '':'disabled'}"><i class="bi bi-arrow-right"></i></a>-->
<!--            </li>-->
<!--        </ul>-->

<!--&lt;!&ndash;        <form action="" style="width: 450px;" class="mx-auto">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;                <label class="input-group-text bi bi-list-columns">정렬</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <select name="order" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; param : 파라미터 의미 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <option value="">칼럼</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.order,'t_id')})" value="t_id">글번호</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.order,'u_id')})" value="u_id">글쓴이</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.order,'post_time')})" value="post_time">작성일</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.order,'update_time')})" value="update_time">수정일</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.order,'title')})" value="title">제목</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.order,'view_count')})" value="view_count">조회수</option>&ndash;&gt;-->
<!--&lt;!&ndash;                </select>&ndash;&gt;-->
<!--&lt;!&ndash;                <select name="direct" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;                    <option value="">방향</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.direct,'DESC')})" value="DESC">내림차순&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.direct,'ASC')})" value="ASC">오름차순&ndash;&gt;-->
<!--&lt;!&ndash;                </select>&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="btn btn-primary">정렬</button>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;            <div class="input-group my-3">&ndash;&gt;-->
<!--&lt;!&ndash;                <label class="input-group-text bi bi-search">정렬</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <select name="searchField" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; param : 파라미터 의미 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <option value="">칼럼</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.searchField,'t_id')})" value="t_id">글번호</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.searchField,'u_id')})" value="u_id">글쓴이</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.searchField,'post_time')})" value="post_time">작성일</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.searchField,'update_time')})" value="update_time">수정일</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.searchField,'title')})" value="title">제목</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:selected="(${#strings.equals(param.searchField,'content')})" value="content">내용</option>&ndash;&gt;-->
<!--&lt;!&ndash;                </select>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" class="form-control" name="searchValue" placeholder="검색어 입력"&ndash;&gt;-->
<!--&lt;!&ndash;                       th:value="${param.searchValue}">&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="btn btn-primary">검색</button>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->



<!--&lt;!&ndash;        <th:block th:include="/pageNav.html"></th:block>&ndash;&gt;-->





<!--    </nav>-->




    <section id="tripListCont" class="row row-cols-lg-4 row-cols-1 g-6">
        <div class="col" th:each="t:${trips}">
                <div class="card mt-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <strong th:text="${t.area}"></strong>
                        <i class="bi bi-heart text-danger"></i>
                    </div>

                    <!-- 게시글 이미지 + 내용 클릭시 상세보기 이동 -->
                    <a class="text-dark text-decoration-none" th:href="@{'/trip/{tId}/detail.do'(tId=${t.tId})}">

                        <!-- imgs 가 null 이 아니면 보이기! null 이면 안보이기! // id 는 유일한 값을 주기 위해서 tId 를 붙임 -->
                        <div th:if="${t.imgs!=null}">
                            <div >
                                <div th:each="img,state : ${t.imgs}"> <!-- main 이미지를 active 로 맨앞에 위치하기 -->
                                    <!--                                    <p th:text="${state.current.imgMain}"></p>-->
                                    <!--                                <div class="carousel-item" th:each="img,state : ${t.imgs}" th:classappend="${state.first}?'active':''">-->
                                    <img th:if="${state.current.imgMain==true}" th:src="@{'{path}'(path=${img.imgPath})}" class="d-block w-100" style="object-fit: contain"  alt="...">
                                </div>
                            </div>
                        </div>




<!--                        <div th:if="${t.imgs!=null}" th:id="'carousel'+${t.tId}" class="carousel slide" data-bs-ride="carousel">-->
<!--                            <div class="carousel-inner">-->
<!--                                <div class="carousel-item" th:each="img,state : ${t.imgs}" th:classappend="${img.imgMain}?'active':''"> &lt;!&ndash; main 이미지를 active 로 맨앞에 위치하기 &ndash;&gt;-->
<!--                                    &lt;!&ndash;                                <div class="carousel-item" th:each="img,state : ${t.imgs}" th:classappend="${state.first}?'active':''">&ndash;&gt;-->
<!--                                    <img th:src="@{'{path}'(path=${img.imgPath})}" class="d-block w-100" style="object-fit: contain"  alt="...">-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <button class="carousel-control-prev" type="button" th:data-bs-target="'#carousel'+${t.tId}" data-bs-slide="prev">-->
<!--                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                                <span class="visually-hidden">Previous</span>-->
<!--                            </button>-->
<!--                            <button class="carousel-control-next" type="button" th:data-bs-target="'#carousel'+${t.tId}" data-bs-slide="next">-->
<!--                                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                                <span class="visually-hidden">Next</span>-->
<!--                            </button>-->
<!--                        </div>-->




                        <div class="card-body">
                            <div class="d-flex align-items-center">
<!--                                <p th:text="${t.tId}"></p>-->
                                <p class="card-title fs-6 mb-0" th:text="${t.title}"></p>
                            </div>

                            <p class="card-text">
                                <span></span>
                                #enfj#enfp#istj
                            </p>

                            <div class="card-text d-flex justify-content-between">
                                <p class="m-0">
                                    <span>☆☆☆☆☆</span>
                                    <small>156</small>
                                </p>
                                <th:block th:include="/trip/dropdownMenu.html"></th:block>
                            </div>
                        </div> <!-- card-body -->
                    </a>
                </div>
        </div>

    </section>

</div>
</html>