<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>맞춤추천 리스트</title>
<script src=""></script>
</head>
<div layout:fragment="content" class="container">
    <h1 class="my-4">맞춤추천 리스트</h1>
        <div class="text-end">
            <a class="btn btn-primary" href="/trip/register.do" role="button">여행지 등록</a>
        </div>
    <section id="tripListCont" class="row row-cols-lg-4 row-cols-1 g-6">
        <div class="col" th:each="t:${trips}">
            <div class="card mt-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <strong th:text="${t.area}"></strong>
                    <!--                    <i class="bi bi-heart-fill text-primary"></i>-->

                    <div class="dropdown">
                        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots fs-4"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>

                <div>
                    <img src="/public/img/trip/춘식이라이언.jpg" class="card-img-top" alt="...">
                    <div class="">
<!--                    <div class="card-img-overlay"> &lt;!&ndash; 오버레이 있으면 드롭다운 메뉴를 덮어서 안눌린다. => 드롭다운메뉴 z-index 올리기 &ndash;&gt;-->
                        <p class="card-text text-end p-0 m-0 mt-5 me-2">
                            <i class="bi bi-heart text-dark bg-light border rounded-circle fs-4" style="width: 45px; height: 45px;"></i>
                        </p>
                    </div>
                </div> <!-- card-img -->

                <div class="card-body">
                    <h5 class="card-title fs-6" th:text="${t.title}"></h5>
                    <p class="card-text">
                        <span></span>
                        #enfj#enfp#istj
                    </p>
                    <p class="card-text">
                        <span>☆☆☆☆☆</span>
                        <small>156</small>
                    </p>
                </div> <!-- card-body -->
            </div>
        </div>
<!--        <a  th:href="@{'/trip/{tId}/register.do'(tId=${t.tId})}">-->
<!--            -->
<!--        </a>-->

    </section>

</div>
</html>