<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>맞춤추천 리스트</title>
<script src=""></script>
</head>
<div layout:fragment="content" class="container">
    <h1 class="my-4">맞춤추천 리스트</h1>
        <div class="text-end" th:if="${session.loginUser!=null}">
            <a class="btn btn-primary" href="/trip/register.do" role="button">여행지 등록</a>
        </div>
    <section id="tripListCont" class="row row-cols-lg-4 row-cols-1 g-6">
        <div class="col" th:each="t:${trips}">
                <div class="card mt-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <strong th:text="${t.area}"></strong>
                        <i class="bi bi-heart text-danger"></i>
                    </div>

                    <!-- 게시글 이미지 + 내용 클릭시 상세보기 이동 -->
                    <a class="text-dark text-decoration-none" th:href="@{'/trip/{tId}/detail.do'(tId=${t.tId})}">
                        <!-- imgs 가 null 이 아니면 보이기! null 이면 안보이기! -->
                        <div th:if="${t.imgs!=null}" th:id="'carousel'+${t.tId}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item" th:each="img,state : ${t.imgs}" th:classappend="${state.first}?'active':''">
                                    <img th:src="@{'{path}'(path=${img.imgPath})}" class="d-block w-100" style="width: 100%; height: 150px; object-fit: contain" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" th:data-bs-target="'#carousel'+${t.tId}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" th:data-bs-target="'#carousel'+${t.tId}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <p class="card-title fs-6 mb-0" th:text="${t.title}"></p>
                            </div>

                            <p class="card-text">
                                <span></span>
                                #enfj#enfp#istj
                            </p>

                            <div class="card-text d-flex justify-content-between">
                                <p class="m-0">
                                    <span>☆☆☆☆☆</span>
                                    <small>156</small>
                                </p>

                                <div class="dropdown">
                                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical text-muted"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- 로그인 + 로그인유저와 게시글의 유저가 동일할때 보이기! -->
                                        <li th:if="${session.loginUser!=null}">
                                            <a class="dropdown-item" th:href="@{'/trip/{tId}/modify.do'(tId=${t.tId})}">수정폼</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- card-body -->
                    </a>
                </div>
        </div>

    </section>

</div>
</html>