<ul class="list-unstyled d-flex" style="font-size: 14px; color:#ec9292;" >
    <li class="me-2" th:classappend="${(t.istj)?'':'d-none'}">#ISTJ</li>
    <li class="me-2" th:classappend="${(t.istp)?'':'d-none'}">#ISTP</li>
    <li class="me-2" th:classappend="${(t.isfj)?'':'d-none'}">#ISFJ</li>
    <li class="me-2" th:classappend="${(t.isfp)?'':'d-none'}">#ISFP</li>
    <li class="me-2" th:classappend="${(t.intj)?'':'d-none'}">#INTJ</li>
    <li class="me-2" th:classappend="${(t.intp)?'':'d-none'}">#INTP</li>
    <li class="me-2" th:classappend="${(t.infj)?'':'d-none'}">#INFJ</li>
    <li class="me-2" th:classappend="${(t.infp)?'':'d-none'}">#INFP</li>
    <li class="me-2" th:classappend="${(t.estj)?'':'d-none'}">#ESTJ</li>
    <li class="me-2" th:classappend="${(t.estp)?'':'d-none'}">#ESTP</li>
    <li class="me-2" th:classappend="${(t.esfj)?'':'d-none'}">#ESFJ</li>
    <li class="me-2" th:classappend="${(t.esfp)?'':'d-none'}">#ESFP</li>
    <li class="me-2" th:classappend="${(t.entj)?'':'d-none'}">#ENTJ</li>
    <li class="me-2" th:classappend="${(t.entp)?'':'d-none'}">#ENTP</li>
    <li class="me-2" th:classappend="${(t.enfj)?'':'d-none'}">#ENFJ</li>
    <li class="me-2" th:classappend="${(t.enfp)?'':'d-none'}">#ENFP</li>
</ul>
