<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">해시태그 검색</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="input-group">
      <label class="input-group-text">
        <i class="bi bi-hash"></i>
      </label>
      <input type="text" id="searchTagInput" class="form-control" placeholder="해시태그">
    </div>
    <hr>
    <div id="tagListCont" class="list-group">
    </div>
  </div>
</div>

