<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.gabojago.gabojagouser.mapper.trip.TripReviewCmtMapper">
    <insert id="insertOne"></insert>
    <update id="updateOne"></update>
    <delete id="deleteOne"></delete>
    <select id="findByTrIdAndParentTrcIdIsNull"
            resultType="com.project.gabojago.gabojagouser.dto.trip.TripReviewCmtDto"></select>
    <select id="findByParentTrcId" resultType="com.project.gabojago.gabojagouser.dto.trip.TripReviewCmtDto"></select>
    <select id="findByTrcId" resultType="com.project.gabojago.gabojagouser.dto.trip.TripReviewCmtDto"></select>
</mapper>